<div class="reservations">
    <div class="navigation-bar">
        <ul>
            <li><a class="active ">Workouts</a>
            </li>
            <li><a> Bluzone</a>
            </li>
            <li><a> Invites</a>
            </li>
        </ul>
    </div>
    <div class="reserved">
        <div class="reservation">
            <img src="default.jpg" class="reservation-image">
            <p class="reservation-title">Metcon 30 </p>
            <div class="reservation-date">
                <p class="reservation-day">Vandaag </p>
                <p class="reservation-hour">19:00 </p>
            </div>
            {{fa-icon "chevron-right" class="chevron-right"}}
        </div>
        <div class="reservation">
            <img src="default.jpg" class="reservation-image">
            <p class="reservation-title"> Strength & conditioining </p>
            <div class="reservation-date">
                <p class="reservation-day">Di</p>
                <p class="reservation-hour">20:00 </p>
            </div>
            {{fa-icon "chevron-right" class="chevron-right"}}
        </div>
        <div class="reservation">
            <img src="default.jpg" class="reservation-image">
            <p class="reservation-title"> Powerbuilding </p>
            <div class="reservation-date">
                <p class="reservation-day">Wo </p>
                <p class="reservation-hour">21:00 </p>
            </div>
            {{fa-icon "chevron-right" class="chevron-right"}}
        </div>
        {{fa-icon 'fa fa-circle fa-1' class="page-indicator active" }} {{fa-icon 'fa fa-circle fa-1' class="page-indicator"}} {{fa-icon 'fa fa-circle fa-1' class="page-indicator"}}
    </div>
</div>
